@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');


body {
    background-color: #f8f8f8 !important;
    font-family: 'Noto Sans KR', sans-serif !important;
    overflow-x: hidden;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE */
}
img {
    width: -webkit-fill-available;
}
a{
    text-decoration: none !important;
    color: #444 !important;
}

.content {
    padding-bottom: 4rem;
}
.bicTxt {
    font-weight: 500;
    font-size: larger;
}
.btn {
    padding: 0.5rem !important;
}



.backBlue {
    background: #0d6efd;
    color: #fff;
}
.backGreen {
    background: #00e5cd;
    color: #fff;
}
.backRed {
    background: #ff5d74;
    color: #fff;
}
.colorBlue {
    color: #0d6efd;
}
.colorGreen {
    color: #00e5cd;
}
.colorRed {
    color: #ff5d74;
}


.bottomNone{
    margin-bottom: 0 !important; 
}
.bottomMargin05{
    margin-bottom: 0.5rem; 
}
.bottomMargin1{
    margin-bottom: 1rem; 
}
.topMargin1{
    margin-top: 1rem; 
}

span.txtGrey {
    color: #888;
}
span.txtTilt {
    font-style: italic;
}
/*main*/
.mainCon {
    background-image: url(./img/mainBack.png);
    background-size: contain;
    background-repeat-y: no-repeat;
    position: absolute;
    width: -webkit-fill-available;
}



/*logo*/
.logo {
    font-weight: 900;
    text-align: center;
    color: #fff;
    margin: 1rem 0;
}
.logo span {
    font-size: xxx-large;
}


/*input*/

.accountEdit,
.accountDelete {
    text-align: center;
}
.accountEdit label,
.accountDelete label {
    margin-bottom: 1rem;
}
.accountEdit input,
.accountDelete input {
    font-size: smaller;
    border: 0;
    background: #f8f8f8;
    border-radius: 0;
    text-align: center;
    padding: 0.75rem 1rem !important;
}
.form-control {
    font-weight: 300;
}
/*Login*/
.rexLogin input{
    border: 0;
    background: #f8f8f8;
    border-radius: 0;
}
.rexLogin .input-group-text {
    border: 0;
    border-radius: 0;
}
.rexLogin .input-group-text img {
    width: 16px;
    margin: 4px 0;
}
.rexLogin .card-body {
    padding: 2rem;
}
.btn-block {
    display: block;
    width: 100%;
}
/*ServicePolicy*/
.txtBold {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.servicePolicy .card-body {
    height: 15rem;
}
.servicePolicy .cardTxt {
    overflow-y: scroll;
    height: 13rem;
}
/*titleTop*/
.titleTop {
    display: flex;
    align-items: center;
    padding: 0.8rem 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.titleTop img{
    width: 20px;
}
.titleTop h5 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

/*card*/
.card {
    border: 0 !important;
    border-radius: 0.4rem !important;
    margin-bottom: 1rem;
}

.card-header {
    background-color: #fff !important;
    border-bottom: 3px solid #f8f8f8 !important;
    font-weight: 500;
}
.card-header:first-child{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0.4rem !important;
    border-top-right-radius: 0.4rem !important;
}
.topCard {
    padding: 0.8rem;
    background-image: url(./img/mainTop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 1.1rem;
}
span.examDate {
    font-size: larger;
    font-weight: 600;
}
.basicCard ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

ul.cardList {
    background: #f8fbfd;
    padding: 1rem;
    font-size: smaller;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.cardTxt{
    background: #f8fbfd;
    padding: 1rem;
    font-size: smaller; 
}

/*graph*/

.graphAtitle {
    font-size: 0.8rem;
    color: #666;
    width: 100%;
}
.graphA li {

}
.graphA li img {
    width: 100%;
    max-width: 30rem;
    margin: 1rem 0;
}


.graphB li {
    display: flex;
    align-items: center;
}
.graphB1 {
    width: 40%;
    margin-right: 1rem;
}
.graphB li img {
    width: 100%;
    max-width: 10rem;
}
.graphBtitleTop {
    font-size: x-large;
    font-weight: 500;
}
.graphBtitleNnder .incidenceRate {
    color: #0d6efd;
    font-weight: 500;
}


ul.graphPoint {
    display: flex;
    font-size: x-small;
    list-style: none;
    padding-left: 0;
    justify-content: flex-end;
}
ul.graphPoint li {
    margin-right: 0.5rem;
}

/*sub*/
.subCon{
    margin-top: 3rem;
}
.subTop {
    display: inline-flex;
    align-items: center;
    margin: 2rem 0;
    justify-content: center;
}
.subTop img {
    width: 40%;
    margin-right: 1rem;
    max-height: 10rem;
    max-width: fit-content;
}
.smallTxt {
    font-size: smaller;
    color: #888;
    margin-top: 0.5rem;
}
span.idEmail {
    font-weight: 500;
}
.inputIcon .input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.25rem;
    background-color: #f8f8f8;
    border: 1px solid #e8e8e8;
}
.inputIcon .form-control{
    border: 1px solid #e8e8e8;
}

/*info*/
.infoCard .cardIcon{
    text-align: center;
    color: #888;
}
.infoCard .cardTxt{
    font-size: 1rem;
    display: flex;
    align-items: center;
}
.cardTxt img {
    width: 30%;
    margin-right: 1rem;
}

/*nav*/
.fixedMenu {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #e8e8e8;
    background: #fff;
    overflow: hidden;
}
.fixedMenu .nav-tabs {
    border-bottom: 0 !important;
}
.fixedMenu .nav-link {
    margin-bottom: 0 !important;
    border: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 0.5rem 1rem;
}
.fixedMenu .nav-link {
    padding: 1.2rem 0 !important;

}
.fixedMenu .nav-link:hover, .fixedMenu .nav-link:focus{
    color: #444 !important;
}
.fixedMenu .nav-link {
    display: flex;
    justify-content: center;
}
.router-link-exact-active .fi-rr-home,
.router-link-exact-active .fi-rr-fill,
.router-link-exact-active .fi-rr-info,
.router-link-exact-active .fi-rr-user {
    display: none !important;
}
.router-link-exact-active .fi-sr-home,
.router-link-exact-active .fi-sr-fill,
.router-link-exact-active .fi-sr-info,
.router-link-exact-active .fi-sr-user {
    display: flex !important;

}
.fi-sr-home,
.fi-sr-fill,
.fi-sr-info,
.fi-sr-user {
    display: none !important;
}
/*tab*/
.myTab{
    margin-top: 3rem;
}
.myTab .nav-link{
    padding: 0.8rem 0;
}
.myTab .nav-tabs .nav-link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    background: #fff;
    border: 0;
    border-color: transparent !important;
    border-radius: 0; 
}
.myTab .nav-tabs .nav-link:hover, .myTab .nav-tabs .nav-link:focus {
    border-bottom: 3px solid #0d6efd !important;
}
.myTab .nav-tabs .nav-link.active, .myTab .nav-tabs .nav-item.show .nav-link{
    border-bottom: 3px solid #0d6efd !important;
}
.myTab .nav-tabs {
    border-bottom: 0;
}


.container {
    padding-right: var(--bs-gutter-x, 2rem) !important;
    padding-left: var(--bs-gutter-x, 2rem) !important;
}

.testList li{
    background: #f8fbfd;
    padding: 0.75rem !important;
    text-align: center;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testList li img {
    width: 16px;
    margin-right: 0.5rem;
}
.testList li:last-child{
    margin-bottom: 0;
}


/*password*/
.passwordLink {
    text-align: center;
    font-size: smaller;
    margin-top: 1rem;
}


/**/
.rexHomeBtn {
    color: #fff !important;
}
li.nav-item a img {
    vertical-align: sub !important;
    width: 24px;
}